body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #0f172a, #581c87, #0f172a);
    
}

.head{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
}
p{
    font-size: 40px;
    font-family: sans-serif;
    font-weight:bold;
    color: white;

}
.app{
    font-family: sans-serif;
    font-weight: bold;
    color: #eab308;
}
.head-left{
    display: flex;
    gap:15px;
}
button{
    border-radius: 5px;
    height:1.7rem;
    width: 6rem;
    background-color: transparent;
    border: 1px solid  #eab308;
    color:#eab308;
    font-size: 15px;
    letter-spacing: 1px;
    
}
.btn{
    height:1.5rem;
    width: 3.5rem;

}